### PROGETTO FOUNDATION OF COMPUTER SCIENCE

In [85]:
import pandas as pd
import numpy as np
import ast
credits = pd.read_csv("C:/Users/alexc/Documents/python_lab/movies/tmdb_5000_credits.csv")
credits.cast = credits.cast.apply(ast.literal_eval)
credits.crew = credits.crew.apply(ast.literal_eval)
movies = pd.read_csv("C:/Users/alexc/Documents/python_lab/movies/tmdb_5000_movies.csv")
movies.genres = movies.genres.apply(ast.literal_eval)
movies.keywords = movies.keywords.apply(ast.literal_eval)
movies.production_companies = movies.production_companies.apply(ast.literal_eval)
movies.production_countries = movies.production_countries.apply(ast.literal_eval)
movies.spoken_languages = movies.spoken_languages.apply(ast.literal_eval)

1) For each movie, compute the number of cast members.

In [133]:
def cast_members(movie):    
    return [movie.title,len(movie.cast)]
num_cast = credits.apply(cast_members, axis=1)
num_cast.head()

0                                      [Avatar, 83]
1    [Pirates of the Caribbean: At World's End, 34]
2                                     [Spectre, 83]
3                      [The Dark Knight Rises, 158]
4                                 [John Carter, 27]
dtype: object

2) How many movies do not have a homepage?

In [87]:
movies.homepage.isnull().sum()

3091

3) For each year, how many movies do not have a homepage?

In [178]:
movies2 = movies[movies.release_date.notnull()]

In [108]:
def estrai_anno(data):
    assert len(data)==10
    return(data[0:4])

In [180]:
movies2 = movies2[movies2.homepage.isnull()]
movies2["year"] = movies2.release_date.apply(estrai_anno)
movies2.groupby("year").size().head()

year
1916    1
1925    1
1927    1
1929    2
1930    1
dtype: int64

4) Extract the domain of each homepage.

In [174]:
movies3 = movies[movies.homepage.notnull()]

In [188]:
import re
def estrai_dominio(url):
    assert re.search('http[s]*://', url)
    return(url.split('/')[2].split('.')[-1])

In [189]:
movies3["dominio"] = movies3.homepage.apply(estrai_dominio)
movies3[["homepage","dominio"]].head()

C:\Users\alexc\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

                                       homepage dominio
0                   http://www.avatarmovie.com/     com
1  http://disney.go.com/disneypictures/pirates/     com
2   http://www.sonypictures.com/movies/spectre/     com
3            http://www.thedarkknightrises.com/     com
4          http://movies.disney.com/john-carter     com

5) Extract a set of normalized tables. That is, each entry of a normalized table must contain exactly one value (not a list or a dictionary).

6) For each movie, compute the gross margin (difference between revenue and budget).

7) For each movie, compute the number of crew members.

8) For each movie, compute the number of directors.

9) For each language, compute the number of movies where such language is spoken.

10) For each company and each decade, compute the overall revenue.

11) For each decade, compute the company with maximum revenue.

12) In each year, how many movies have revenue smaller than the budget?