### PROGETTO FOUNDATION OF COMPUTER SCIENCE

In [1]:
import pandas as pd
import numpy as np
import ast
import re
credits = pd.read_csv("C:/Users/alexc/Documents/python_lab/movies/tmdb_5000_credits.csv")
credits.cast = credits.cast.apply(ast.literal_eval)
credits.crew = credits.crew.apply(ast.literal_eval)
movies = pd.read_csv("C:/Users/alexc/Documents/python_lab/movies/tmdb_5000_movies.csv")
movies.genres = movies.genres.apply(ast.literal_eval)
movies.keywords = movies.keywords.apply(ast.literal_eval)
movies.production_companies = movies.production_companies.apply(ast.literal_eval)
movies.production_countries = movies.production_countries.apply(ast.literal_eval)
movies.spoken_languages = movies.spoken_languages.apply(ast.literal_eval)

1) For each movie, compute the number of cast members.

In [2]:
def cast_members(movie):    
    return [movie.title, len(movie.cast)]

In [3]:
num_cast = credits.apply(cast_members, axis=1)
num_cast.head()

0                                      [Avatar, 83]
1    [Pirates of the Caribbean: At World's End, 34]
2                                     [Spectre, 83]
3                      [The Dark Knight Rises, 158]
4                                 [John Carter, 27]
dtype: object

2) How many movies do not have a homepage?

In [4]:
movies.homepage.isnull().sum()

3091

3) For each year, how many movies do not have a homepage?

In [5]:
movies2 = movies[(movies.release_date.notnull())&(movies.homepage.isnull())]
movies2 = movies2.reset_index()
del movies2['index']

In [6]:
def estrai_anno(data):
    assert re.search('\d\d\d\d\-\d\d\-\d\d', data)
    return(data[0:4])

In [7]:
movies2['year'] = movies2.release_date.apply(estrai_anno)
movies2.groupby('year').size().head()

year
1916    1
1925    1
1927    1
1929    2
1930    1
dtype: int64

4) Extract the domain of each homepage.

In [8]:
movies3 = movies[movies.homepage.notnull()]
movies3 = movies3.reset_index()
del movies3['index']

In [9]:
def estrai_dominio(url):
    assert re.search('^https*://', url)
    website = re.split('[/ ]+', url)[1]
    assert re.search('\.[a-z]+/*$', website)
    return(re.search('\.[a-z]+/*$', website).group(0))

In [10]:
movies3['dominio'] = movies3.homepage.apply(estrai_dominio)
movies3.groupby('dominio').size().head()

dominio
.au    3
.br    1
.ca    5
.cc    2
.ch    1
dtype: int64

In [11]:
def multi_homepage(url):
    urls = re.split(' ', url)
    if len(urls) == 1:
        return(False)
    else:
        return(True)
multi = movies3.homepage.apply(multi_homepage)
movies3[multi]

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,dominio
1403,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",http://www.cargoderfilm.ch http://cargothemovi...,34069,"[{'id': 3388, 'name': 'space colony'}, {'id': ...",de,Cargo,The story of CARGO takes place on rusty space-...,10.142218,"[{'name': 'Telepool', 'id': 823}, {'name': 'At...",...,2009-09-24,0,120.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Cargo,5.9,140,.ch

5) Extract a set of normalized tables. That is, each entry of a normalized table must contain exactly one value (not a list or a dictionary).

6) For each movie, compute the gross margin (difference between revenue and budget).

In [12]:
def compute_margin(film):
    assert (film.budget != None)|(film.revenue != None)
    return (film.revenue - film.budget)

In [13]:
movies['gross_margin'] = movies.apply(compute_margin, axis=1)
movies[['title', 'revenue', 'budget', 'gross_margin']].head()

,title,revenue,budget,gross_margin
0,Avatar,2787965087,237000000,2550965087
1,Pirates of the Caribbean: At World's End,961000000,300000000,661000000
2,Spectre,880674609,245000000,635674609
3,The Dark Knight Rises,1084939099,250000000,834939099
4,John Carter,284139100,260000000,24139100

7) For each movie, compute the number of crew members.

In [14]:
def crew_members(movie):
    lista = []
    for el in movie.crew:
        if el['id'] in lista:
            pass
        else:
            lista.append(el['id'])
    return [movie.title, len(lista)]

In [15]:
num_crew = credits.apply(crew_members, axis=1)
num_crew.head()

0                                     [Avatar, 146]
1    [Pirates of the Caribbean: At World's End, 32]
2                                    [Spectre, 150]
3                      [The Dark Knight Rises, 210]
4                                [John Carter, 129]
dtype: object

8) For each movie, compute the number of directors.

In [16]:
def find_director(movie):
    lista = []
    for el in movie.crew:
        if el['job'].lower()=='director':
            lista.append(el['id'])
    return [movie.title, len(lista)]

In [17]:
num_dir = credits.apply(find_director, axis=1)
num_dir.head()

0                                      [Avatar, 1]
1    [Pirates of the Caribbean: At World's End, 1]
2                                     [Spectre, 1]
3                       [The Dark Knight Rises, 1]
4                                 [John Carter, 1]
dtype: object

9) For each language, compute the number of movies where such language is spoken.

In [18]:
def lingue_film(film):
    num_lingue = len(film.spoken_languages)
    for i in list(range(0, num_lingue)):
        if film.spoken_languages[i]['iso_639_1'] in list(lingue_parlate.keys()):
            lingue_parlate[film.spoken_languages[i]['iso_639_1']] += 1
        else:
            lingue_parlate [film.spoken_languages[i]['iso_639_1']] = 1

In [19]:
lingue_parlate = {}
movies.apply(lingue_film, axis = 1)
[lingue_parlate['it'], lingue_parlate['fr'], lingue_parlate['en']]

[188, 437, 4485]

10) For each company and each decade, compute the overall revenue.

In [20]:
movies4 = movies[(movies.release_date.notnull())]
movies4 = movies4.reset_index()
del movies4['index']

In [21]:
def estrai_decade(data):
    assert re.search('\d\d\d\d\-\d\d\-\d\d', data)
    return(data[0:3]+'0')

In [22]:
movies4['decade'] = movies4.release_date.apply(estrai_decade)

In [23]:
def proventi(film):
    num_companies = len(film.production_companies)
    for i in list(range(0, num_companies)):
        company = film.production_companies[i]['name']
        if company in list(companies_revenues.keys()):
            if film.decade in list(companies_revenues[company].keys()):
                companies_revenues[company][film.decade] += film.revenue
            else:
                companies_revenues[company][film.decade] = film.revenue
        else:
            companies_revenues[company] = {}
            companies_revenues[company][film.decade] = film.revenue

In [24]:
companies_revenues = {}
movies4.apply(proventi, axis = 1)
companies_revenues['Twentieth Century Fox Film Corporation']

{'1930': 4000000,
 '1940': 13800000,
 '1950': 68500000,
 '1960': 517223175,
 '1970': 1384707749,
 '1980': 2095218605,
 '1990': 8184639428,
 '2000': 15889321197,
 '2010': 11199741155}

11) For each decade, compute the company with maximum revenue.

In [25]:
def proventi2(film):    
    num_companies = len(film.production_companies)
    if film.decade in list(rev2.keys()):
        for i in list(range(0, num_companies)):
            company = film.production_companies[i]['name']
            if company in list(rev2[film.decade].keys()):
                rev2[film.decade][company] += film.revenue
            else:
                rev2[film.decade][company] = film.revenue
    else:
        rev2[film.decade]={}
        for i in list(range(0, num_companies)):
            company = film.production_companies[i]['name']
            rev2[film.decade][company] = film.revenue

In [26]:
rev2 = {}
movies4.apply(proventi2, axis = 1)
for mykey in rev2:
    massimo = max(rev2[mykey], key=rev2[mykey].get)
    print(mykey + "\t" + massimo + "\n\t" + str(rev2[mykey][massimo]))

2000	Warner Bros.
	22897419289
2010	Universal Pictures
	15521006459
1990	Paramount Pictures
	8824732067
1980	Paramount Pictures
	4431144486
1970	United Artists
	1392271577
1960	Eon Productions
	598134765
1940	Walt Disney Productions
	351747150
1920	Metro-Goldwyn-Mayer (MGM)
	26358000
1930	Selznick International Pictures
	400176459
1950	Metro-Goldwyn-Mayer (MGM)
	73770324
1910	Triangle Film Corporation
	8394751

In [44]:
rev2 = {}
movies4.apply(proventi2, axis = 1)
for mykey in rev2:
    max_value = max(rev2[mykey].values())
    max_result = [(mykey, key, max_value) for key in rev2[mykey] if rev2[mykey][key] == max_value]
    print (max_result)

[('2000', 'Warner Bros.', 22897419289)]
[('2010', 'Universal Pictures', 15521006459)]
[('1990', 'Paramount Pictures', 8824732067)]
[('1980', 'Paramount Pictures', 4431144486)]
[('1970', 'United Artists', 1392271577)]
[('1960', 'Eon Productions', 598134765)]
[('1940', 'Walt Disney Productions', 351747150)]
[('1920', 'Metro-Goldwyn-Mayer (MGM)', 26358000)]
[('1930', 'Selznick International Pictures', 400176459), ('1930', 'Metro-Goldwyn-Mayer (MGM)', 400176459)]
[('1950', 'Metro-Goldwyn-Mayer (MGM)', 73770324)]
[('1910', 'Triangle Film Corporation', 8394751), ('1910', 'Wark Producing Corp.', 8394751)]

12) In each year, how many movies have revenue smaller than the budget?

In [27]:
movies5 = movies4[movies4.gross_margin<0]
movies5 = movies5.reset_index()
del movies5['index']
movies5["year"] = movies5.release_date.apply(estrai_anno)

In [28]:
movies5.groupby("year").size().head()

year
1927    1
1947    1
1948    1
1954    1
1962    1
dtype: int64