### PROGETTO FOUNDATION OF COMPUTER SCIENCE

In [1]:
import pandas as pd
import numpy as np
import ast
import re
credits = pd.read_csv("C:/Users/alexc/Documents/python_lab/movies/tmdb_5000_credits.csv")
credits.cast = credits.cast.apply(ast.literal_eval)
credits.crew = credits.crew.apply(ast.literal_eval)
movies = pd.read_csv("C:/Users/alexc/Documents/python_lab/movies/tmdb_5000_movies.csv")
movies.genres = movies.genres.apply(ast.literal_eval)
movies.keywords = movies.keywords.apply(ast.literal_eval)
movies.production_companies = movies.production_companies.apply(ast.literal_eval)
movies.production_countries = movies.production_countries.apply(ast.literal_eval)
movies.spoken_languages = movies.spoken_languages.apply(ast.literal_eval)

1) For each movie, compute the number of cast members.

In [75]:
def cast_members(movie):    
    return [movie.title,len(movie.cast)]

In [76]:
num_cast = credits.apply(cast_members, axis=1)
num_cast.head()

0                                      [Avatar, 83]
1    [Pirates of the Caribbean: At World's End, 34]
2                                     [Spectre, 83]
3                      [The Dark Knight Rises, 158]
4                                 [John Carter, 27]
dtype: object

2) How many movies do not have a homepage?

In [3]:
movies.homepage.isnull().sum()

3091

3) For each year, how many movies do not have a homepage?

In [114]:
movies2 = movies[(movies.release_date.notnull())&(movies.homepage.isnull())]
movies2 = movies2.reset_index()

In [115]:
def estrai_anno(data):
    assert re.search('\d\d\d\d\-\d\d\-\d\d', data)
    return(data[0:4])

In [117]:
movies2['year'] = movies2.release_date.apply(estrai_anno)
movies2.groupby('year').size().head()

year
1916    1
1925    1
1927    1
1929    2
1930    1
dtype: int64

4) Extract the domain of each homepage.

In [70]:
movies3 = movies[movies.homepage.notnull()]
movies3 = movies3.reset_index()

In [101]:
def estrai_dominio(url):
    assert re.search('^https*://', url)
    website = re.split('[/ ]+', url)[1]
    assert re.search('\.[a-z]+/*$', website)
    return(re.search('\.[a-z]+/*$', website).group(0))

In [118]:
movies3['dominio'] = movies3.homepage.apply(estrai_dominio)
movies3.groupby('dominio').size().head()

dominio
.au    3
.br    1
.ca    5
.cc    2
.ch    1
dtype: int64

In [119]:
def multi_homepage(url):
    urls = re.split(' ', url)
    if len(urls) == 1:
        return(False)
    else:
        return(True)
multi = movies3.homepage.apply(multi_homepage)
movies3[multi]

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,dominio
1403,3730,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",http://www.cargoderfilm.ch http://cargothemovi...,34069,"[{'id': 3388, 'name': 'space colony'}, {'id': ...",de,Cargo,The story of CARGO takes place on rusty space-...,10.142218,...,2009-09-24,0,120.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,NaN,Cargo,5.9,140,.ch

5) Extract a set of normalized tables. That is, each entry of a normalized table must contain exactly one value (not a list or a dictionary).

6) For each movie, compute the gross margin (difference between revenue and budget).

7) For each movie, compute the number of crew members.

8) For each movie, compute the number of directors.

9) For each language, compute the number of movies where such language is spoken.

10) For each company and each decade, compute the overall revenue.

11) For each decade, compute the company with maximum revenue.

12) In each year, how many movies have revenue smaller than the budget?